.popup__button-save {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  margin-top: 48px;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__button-save:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
  transition: background-color .5s;
}
@media screen and (max-width: 597px) {
  .popup__button-save{
    width: 238px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}