.popup__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-left: 36px;
  margin-bottom: 25px;
  position: relative;
}

@media screen and (max-width: 579px) {
  .popup__input-container {
    width: 238px;
    margin: 0 auto 22px;
  }
}

.popup__input-container:last-of-type {
  margin-bottom: 0;
}