.popup__error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;  
  color: #FF0000;  
  margin: 0;
  align-self: flex-start;
  position: relative;
  left: 3px;
  top: 5px;
}

@media screen and (max-width: 579px) {
  .popup__error {
    top: 0;
  }
}