.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  transform: translateZ(0);
  transition: opacity .4s;
}
@media screen and (max-width: 710px) {
  .profile__avatar {
    margin: 0 auto 26px;
  }
}