.popup__title {
  margin: 34px 0 0 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  height: 23px;
  /*
  ? пришлось выставить высоту, в фигме буквы вылезают за края блока, 
  ? если этого не сделать popup становится по высоте больше, чем нужно. Так можно сделать?
  */
}
@media screen and (max-width: 597px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-left: 0;
    text-align: center;
    height: 22px;
  }
}